<!DOCTYPE html>
<html lang="en" ng-app="darkcorners">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dark Corners</title>
    <link rel="stylesheet" href="css/normalize.css">    

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">

    <!-- Add custom CSS here -->    
    <link rel="stylesheet" href="css/style.css" /> 
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Lora' type='text/css'>
    <link rel="stylesheet" href="css/respTable.css" />
    <script src="script/vendor/modernizr-2.6.2.min.js"></script>   
  </head>

  <body class="container">
  	<header ng-include="'templates/nav.html'"></header>
  	<div ui-view></div>
  	<hero-list></hero-list>
  	<hero-box></hero-box>
	<!--
  	<div ng-controller="WarbandCtrl">
  		<h4>WB</h4>  		
  		<ul>
    		<li ng-repeat="wb in wbList">{{wb}} <b>{{wb.content.name}}</b>{{wb.content.type}}</li>
  		</ul>  		 	
		<div class="form-group form-inline">	                         	
			<input type="text" class="form-control" ng-model="wb.name" />	                        	
			<input type="text" class="form-control" ng-model="wb.type" />	
			<input class="btn btn-default" value="Add Warband" ng-click="addWarband()">														
		</div>
  	</div>
  	<hr>
  	-->
  
  	<!-- 
  	<div ng-controller="SampleCtrl">
  		<h4>SampleCtrl</h4>	    
	    <div class="form-group form-inline">
	    	<input type="text" class="form-control" ng-model="data.text"/>
	    </div>	    
	    <h4>You said: {{ data.text }}</h4>
  	</div>	
  	<hr> 
  	 --> 		
	

    <!-- JavaScript -->  
    <script>window.jQuery || document.write('<script src="script/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <!-- Angularjs -->
    <script type="text/javascript" src="script/angular.min.js"></script>   
    <!-- angular-ui-router -->
    <script type="text/javascript" src="script/angular-ui-router.min.js"></script>   
    <!-- Bootstrap -->
    <script type="text/javascript" src="script/bootstrap.min.js"></script>
    <!-- Firebase -->
    <script src='https://cdn.firebase.com/js/client/2.0.4/firebase.js'></script>   
    <!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>	    
    <script type="text/javascript" src="script/app.js"></script>   
    <!-- Controllers -->
    <script type="text/javascript" src="script/controllers/homeCtrl.js"></script>
    <script type="text/javascript" src="script/controllers/aboutCtrl.js"></script>    
    <script type="text/javascript" src="script/controllers/heroCtrl.js"></script>    
  </body>
</html>