<form name="heroForm" ng-submit="hCtrl.updateHero(hero)">

	<div class="form-group form-inline"> 
		<h4 class="media-heading" ng-hide="editMode">{{hero.name}} {{hero.type}}</h4>		
	  	<input type="text" class="form-control" placeholder="Name" ng-model="hero.name" ng-show="editMode"/>		  	        
		<input type="text" class="form-control" placeholder="Type" ng-model="hero.type" ng-show="editMode"/>		
	</div>	

    <table class="table">
    	<thead>
          <tr>
              <th>M</th>
              <th>WS</th>
              <th>BS</th>
              <th>S</th>
              <th>T</th>
              <th>W</th>
              <th>I</th>
              <th>A</th>
              <th>Ld</th>
              <th>Px</th>
              <th>Cost</th>
              <th></th>
          </tr>
      </thead>	 
      <tbody>
      	 <tr>
      	 	<td>
      	 		<span ng-hide="editMode">{{hero.mv}}</span>
      	 		<input type="text" name="mv" class="mv form-control" ng-model="hero.mv" ng-show="editMode"/>                          	    
      	 	</td>
      	 	<td>
      	 		<span ng-hide="editMode">{{hero.ws}}</span>
      	 		<input type="text" name="mv" class="ws form-control" ng-model="hero.ws" ng-show="editMode"/>                          	    
      	 	</td>
      	 	<td>
      	 		<span ng-hide="editMode">{{hero.bs}}</span>
      	 		<input type="text" name="bs" class="bs form-control" ng-model="hero.bs" ng-show="editMode"/>
      	 	</td>
      	 	<td>
      	 		<span ng-hide="editMode">{{hero.str}}</span>
      	 		<input type="text" name="str" class="str form-control" ng-model="hero.str" ng-show="editMode"/>                          	
      	 	</td>
      	 	<td>
      	 		<span ng-hide="editMode">{{hero.thg}}</span>
      	 		<input type="text" name="thg" class="thg form-control" ng-model="hero.thg" ng-show="editMode"/>     
      	 	</td>
      	 	<td>
      	 		<span ng-hide="editMode">{{hero.wnd}}</span>
      	 		<input type="text" name="wnd" class="wnd form-control" ng-model="hero.wnd" ng-show="editMode"/>    
      	 	</td>
      	 	<td>
      	 		<span ng-hide="editMode">{{hero.ini}}</span>
      	 		<input type="text" name="ini" class="ini form-control" ng-model="hero.ini" ng-show="editMode"/>    
      	 	</td>
      	 	<td>
      	 		<span ng-hide="editMode">{{hero.atk}}</span>
      	 		<input type="text" name="atk" class="atk form-control" ng-model="hero.atk" ng-show="editMode"/>
      	 	</td>
      	 	<td>
      	 		<span ng-hide="editMode">{{hero.ld}}</span>
      	 		<input type="text" name="ld" class="ld form-control" ng-model="hero.ld" ng-show="editMode"/>
      	 	</td>
      	 	<td>
      	 		<span ng-hide="editMode">{{hero.px}}</span>
      	 		<input type="text" name="px" class="px form-control" ng-model="hero.px" ng-show="editMode"/>
      	 	</td>
      	 	<td>
      	 		<span ng-hide="editMode">{{hero.cost}}</span>
      	 		<input type="text" name="cost" class="cost form-control" ng-model="hero.cost" ng-show="editMode"/>
      	 	</td>
      	 	<td>
      	<button type="button" class="btn btn-default btn-xs" ng-click="editMode = !editMode" ng-hide="editMode">
					Edit					
				</button>
				<button type="button" class="btn btn-default btn-xs" ng-click="save()" ng-show="editMode">
					Save
				</button>
				<button type="button" class="btn btn-default btn-xs" ng-click="editMode = !editMode" ng-show="editMode">
					Cancel
				</button>
      	 	</td>
      	 </tr>
      </tbody> 
	</table>	
	
	<ul ng-hide="editMode">
		<li ng-repeat="rule in hero.rules">{{rule.descr}}</li>
	</ul>
  <rules-list ng-show="editMode"></rules-list>   
	<ul ng-hide="editMode">
		<li ng-repeat="item in hero.items">{{item.weapon}} {{item.cost}}</li>
	</ul>	
	<equip-list ng-show="editMode"></equip-list>
</form>	
